<#import "/common.ftl" as common/>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- 
    <link rel='stylesheet' type='text/css' href='http://fonts.useso.com/css?family=Open+Sans:300,400,600,700,400italic'>
 	 -->
<link rel="stylesheet" type="text/css"
	href="${contextPath}/css/third-css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="${request.getContextPath()}/css/third-css/font-awesome.min.css">
<link rel="stylesheet" type="text/css"
	href="${request.getContextPath()}/css/third-css/chenblog-style.css">
<title><@block name="title">title</@block></title>
 <@block name="header"></@block>
</head>

<body>
	<div class="main-body">
		<div class="container">
			<div class="row">
				<div class="main-page">

					<aside class="main-navigation">
						<div class="main-menu">
							<div class="menu-container">
								<div id="loginForm" style="color: white;">
									<h2 class="form-signin-heading">Please sign in</h2>
									<input id="userName" type="text" placeholder="User name"
										style="color: black;"> <input id="password"
										type="password" placeholder="Password" style="color: black;">
									<div
										style="margin-bottom: 10px; margin-top: 10px; text-align: left;"
										id="loginType">
										<input type="radio" name="optionsRadios" id="optionsRadios1"
											onclick="login.webChatShow()" value="1">用户 <input
											style="margin-left: 20px;" type="radio" name="optionsRadios"
											id="optionsRadios2" value="0" checked>管理员
									</div>
									<div class="checkbox"
										style="font-weight: normal; margin-bottom: 10px; text-align: left;">
										<label> <input type="checkbox" value="remember-me"
											id="rememberme" checked>记住密码
										</label>
										<button id="login" class="btn btn-sm btn-defult" style="line-height: 1;padding: 3px 10px;margin-left:10px;color:rgba(16, 165, 205, 0.8);"
										onclick="login.login()">Sign in</button>
									</div>
									<button id="SimulateLogin" class="btn btn-large btn-primary"
										style="display: none;" onclick="login.simulateLogin()">Simulate
										Login</button>
								</div>
								<div class="form-signin" id="weChatLoginForm"
									style="display: none;">
									<h4 class="form-signin-heading">请用手机微信扫描二维码登录</h4>
									<img style="width: 240px; height: 240px;"
										class="wbChatLoginImg" alt="手机微信登录二维码"
										src="<%=basePath%>resources/img/login/WeChatLogin.png">
									<button id="login" class="btn btn-large btn-success"
										onclick="login.webChatBack()" style="margin-top: 5px;">返回</button>
								</div>
							</div>
							<div class="menu-container">
								<div
									class="block-keep-ratio block-keep-ratio-2-1 block-width-full home">
									<a href="about"
										class="block-keep-ratio__content  main-menu-link"> <span
										class="main-menu-link-text"> HOME </span>
									</a>
								</div>
							</div>

							<div class="menu-container">
								<div
									class="block-keep-ratio  block-keep-ratio-1-1  block-width-half  pull-left  about-main">
									<a href="about"
										class="main-menu-link about block-keep-ratio__content flexbox-center">
										<i class="fa fa-user fa-4x main-menu-link-icon"></i> ABOUT
									</a>
								</div>

								<div
									class="block-keep-ratio  block-keep-ratio-1-1  block-width-half  pull-right  contact-main">
									<a href="contact"
										class="main-menu-link contact block-keep-ratio__content flexbox-center">
										<i class="fa fa-envelope-o fa-4x main-menu-link-icon"></i>
										CONTACT
									</a>
								</div>
							</div>

							<!-- sidebar carousel -->
							<div class="menu-container">
								<div class="mauris">
									<div id="carousel-menu" class="carousel slide"
										data-ride="carousel">
										<!-- Wrapper for slides -->
										<div class="carousel-inner" role="listbox">
											<div class="item active">
												<img
													src="${request.getContextPath()}/image/home/slider-img-1.png"
													alt="slider">
												<div class="carousel-caption menu-caption">mauris vita
												</div>
											</div>
											<div class="item">
												<img
													src="${request.getContextPath()}/image/home/menu-bg-home.png"
													alt="slider">
												<div class="carousel-caption menu-caption">lorem ipsum
												</div>
											</div>
										</div>

										<!-- Controls -->
										<a class="left carousel-control" href="#carousel-menu"
											role="button" data-slide="prev"> <span
											class="fa fa-caret-left" aria-hidden="true"></span> <span
											class="sr-only">Previous</span>
										</a> <a class="right carousel-control" href="#carousel-menu"
											role="button" data-slide="next"> <span
											class="fa fa-caret-right" aria-hidden="true"></span> <span
											class="sr-only">Next</span>
										</a>
									</div>
								</div>
								<!-- .mauris -->
							</div>
						</div>
						<!-- main-menu -->
					</aside>
					<!-- main-navigation -->

					<div class="content-main"><@block name="content"></@block></div>
					<!-- .content-main -->
				</div>
				<!-- .main-page -->
			</div>
			<!-- .row -->
			<footer class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer">
					<p class="copyright">Copyright © 2016 chen</p>
				</div>
			</footer>
			<!-- .row -->
		</div>
		<!-- .container -->
	</div>
	<!-- .main-body -->

	<!-- JavaScript -->
	<script src="${request.getContextPath()}/js/third-js/jquery-1.11.3.min.js"></script>
	<script src="${request.getContextPath()}/js/third-js/jquery.cookie.js"></script>
	<script src="${request.getContextPath()}/js/third-js/jquery.confirm.js"></script>
	<script src="${request.getContextPath()}/js/third-js/bootstrap.min.js"></script>
	<script src="${request.getContextPath()}/js/busi-js/common/common.js"></script>
	<script src="${request.getContextPath()}/js/busi-js/login/login.js"></script>
</body>
</html>
