<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>ChenZone</title>
		<meta name="description" content="chen是一只程序猿，希望在分享和学习的过程中共同进步。">
		<meta name="keywords" content="chen,程序猿,blog">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=yes">
		<#-- 默认浏览器内核，极速模式 -->
		<meta name="renderer" content="webkit">
		<link rel="shortcut icon" href="${request.getContextPath()}/image/logo/clogo.ico">
		<link href="${request.getContextPath()}/template/css/reset.css" type="text/css" rel="stylesheet">
		<link href="${request.getContextPath()}/template/css/fonts.css" type="text/css" rel="stylesheet">
		<link href="${request.getContextPath()}/template/css/style.scss" type="text/css" rel="stylesheet">
	</head>
	<body>
		<main id="body_wrapper">
			<div class="index_header">
				<header class="header clearfix">
				  <div class="menu"><a href="javascript:;" class="icon-icon_menu"></a>
				  </div>
				  <div class="search">
				    <input type="text" data-role="none">
				<a href="javascript:;" class="icon-icon_search"></a>
				  </div>
				  <h1 class="title"><a href="/">Chen</a>
				  </h1>
				  <div class="menu_wrapper">
				    <nav class="categories">
				     <li><a href="/category/生活"><span class="icon-cat_life"></span>生活</a></li>
				     <li><a href="/category/翻译"><span class="icon-cat_life"></span>翻译</a></li>
				     <li><a href="/category/极客"><span class="icon-cat_life"></span>极客</a></li>
				     <li><a href="/category/幽默"><span class="icon-cat_life"></span>幽默</a></li>
				     <li><a href="/category/美食"><span class="icon-cat_life"></span>美食</a></li>
				     <li><a href="/category/照片"><span class="icon-cat_life"></span>照片</a></li>
				     <li><a href="/category/影音"><span class="icon-cat_life"></span>影音</a></li>
				     <li><a href="/category/写作"><span class="icon-cat_life"></span>写作</a></li>
				     <li><a href="/category/梦境"><span class="icon-cat_life"></span>梦境</a></li>
				    </nav>
				    <nav class="nav">
				      <li><a href="/categories">日志分类</a></li>
				      <li><a href="/movie">电影收藏</a></li>
				      <li><a href="/tools">小玩意</a></li>
				      <li><a href="/about">关于Chen</a></li>
				    </nav>
				  </div>
				  <div class="intro">
				    <div class="qr"><a href="javascript:;" class="icon-icon_qr"></a>
				      <div class="qr_code_wrap">
				        <div class="qr_code">
				          <div class="img"></div>
				          <p>
							分享点滴
				          </p>
				        </div>
				      </div>
				    </div>
				  </div>
				  <div class="follow">
				  	<#-- 
				    <div class="social">
				    	<a href="http://weibo.com/greenzorro" target="_blank" class="weibo">微博</a>
						<a href="http://www.douban.com/people/greenzorro/" target="_blank" class="douban">豆瓣</a>
						<a href="https://www.pinterest.com/greenzorro/" target="_blank" class="pinterest">Pinterest</a>
						<a href="https://www.behance.net/greenzorro" target="_blank" class="behance">behance</a>
						<a href="https://github.com/greenzorro" target="_blank" class="github">Github</a>
				    </div>
				     -->
				  </div>
				  <div class="down"><a href="#content" class="icon-arrow2_down"></a>
				  </div>
				</header>
			</div>
			<div id="main">
				<div name="content" class="main_wrap">
				  <div class="list clearfix">
					<article bg="http://7xib7m.com1.z0.glb.clouddn.com/img/article/2016/09-10/1-MPI39txU9BAyWQ2ycpXaKw.jpg" class="post img">
					  <div class="content">
					    <h1 class="title"><a href="/post/3521">为电视而设计</a></h1>
					    <div class="post_body">
					    	<div class="p_part"><p>[国外设计第147期]</p></div>
							<div class="p_part"><p>    一篇关于电视UI基本组成部分的介绍。</p></div>
							<div class="p_part"><p><img class="" src="http://7xib7m.com1.z0.glb.clouddn.com/img/article/2016/09-10/1-MPI39txU9BAyWQ2ycpXaKw.jpg" alt="" title=""></p></div>
							<div class="p_part"><p>    欢迎来到电视机的新黄金时代。不仅仅因为出现了更多比从前更棒的产品，我们在自己观看和喜爱的节目上也有了更多选择。虽然我们可以随时随地通过电脑、手机和平板观看，但电视在多数人家中仍然占据着一个特殊角色。</p></div>
							<div class="p_part"><p>    但我们对电视的控制，不再只局限于遥......</p></div>
						</div>
					    <div class="info clearfix">
					      <div class="date">
					        <div class="icon-icon_clock"></div>
					        <time>2016-09-11</time>
					      </div>
					      <div class="visitors">
					        <div class="icon-icon_book"></div>
								<span>159</span>
					      </div>
					    </div>
					  </div>
					</article>
					
					<article bg="http://7xib7m.com1.z0.glb.clouddn.com/img/article/2016/09-10/1-MPI39txU9BAyWQ2ycpXaKw.jpg" class="post img">
					  <div class="content">
					    <h1 class="title"><a href="/post/3521">为电视而设计</a></h1>
					    <div class="post_body">
<div class="p_part"><p>[国外设计第147期]</p></div><div class="p_part"><p>一篇关于电视UI基本组成部分的介绍。</p></div><div class="p_part"><p><img class="" src="http://7xib7m.com1.z0.glb.clouddn.com/img/article/2016/09-10/1-MPI39txU9BAyWQ2ycpXaKw.jpg" alt="" title=""></p></div><div class="p_part"><p>欢迎来到电视机的新黄金时代。不仅仅因为出现了更多比从前更棒的产品，我们在自己观看和喜爱的节目上也有了更多选择。虽然我们可以随时随地通过电脑、手机和平板观看，但电视在多数人家中仍然占据着一个特殊角色。</p></div><div class="p_part"><p>但我们对电视的控制，不再只局限于遥......</p></div>
						</div>
					    <div class="info clearfix">
					      <div class="date">
					        <div class="icon-icon_clock"></div>
					        <time>2016-09-11</time>
					      </div>
					      <div class="visitors">
					        <div class="icon-icon_book"></div>
								<span>159</span>
					      </div>
					    </div>
					  </div>
					</article>
					
					<div class="clear"></div>
					<div class="pager clearfix">
						<a href="/page/2" class="paging next">
		    				<div class="arrow icon-arrow2_right"></div>
							<span>下一页</span>
						</a>
						<a href="#" class="gotop icon-arrow_up"></a>
					</div>
				  </div>
				</div>
      		</div>
			<footer class="footer">
			  <h2 class="logo"></h2>
			  <p><a>Mr.Chen</a>&nbsp;的朋友们：
				<a href="http://www.colachan.com/" target="_blank">Cola Chan</a>
				<i>/</i>
				<a href="" target="_blank">ABC</a>
			  </p>
			  <p>©Mr.Chen
			  	-<a href="https://github.com/greenzorro/bitcron-colachan" target="_blank">theme</a>
				&nbsp;by <a href="http://www.colachan.com/" target="_blank">Cola Chan</a>
				 - powered by
				<a href="https://bitcron.com/" target="_blank">Bitcron</a>
			  </p>
			  <a href="#" class="gotop icon-arrow_up"></a>
			</footer>
		</main>
		<script type="text/javascript" src="${request.getContextPath()}/template/js/functions.coffee" ></script>
		<script type="text/javascript" src="${request.getContextPath()}/template/js/jquery2-latest.js"></script>
	</body>
</html>