<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tc.iDao.LogtypeMapper" >
  <resultMap id="BaseResultMap" type="com.tc.model.Logtype" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="CHAR" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="Sort" property="sort" jdbcType="INTEGER" />
    <result column="Url" property="url" jdbcType="CHAR" />
    <result column="PictureUrl" property="pictureurl" jdbcType="CHAR" />
    <result column="Describe" property="describe" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, Name, Status, Sort, Url, PictureUrl, Describe
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tc.model.LogtypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from logtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from logtype
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from logtype
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tc.model.LogtypeExample" >
    delete from logtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tc.model.Logtype" >
    insert into logtype (Id, Name, Status, 
      Sort, Url, PictureUrl, Describe
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=CHAR}, #{status,jdbcType=INTEGER}, 
      #{sort,jdbcType=INTEGER}, #{url,jdbcType=CHAR}, #{pictureurl,jdbcType=CHAR}, #{describe,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tc.model.Logtype" >
    insert into logtype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="sort != null" >
        Sort,
      </if>
      <if test="url != null" >
        Url,
      </if>
      <if test="pictureurl != null" >
        PictureUrl,
      </if>
      <if test="describe != null" >
        Describe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=CHAR},
      </if>
      <if test="pictureurl != null" >
        #{pictureurl,jdbcType=CHAR},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tc.model.LogtypeExample" resultType="java.lang.Integer" >
    select count(*) from logtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update logtype
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        Name = #{record.name,jdbcType=CHAR},
      </if>
      <if test="record.status != null" >
        Status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.sort != null" >
        Sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.url != null" >
        Url = #{record.url,jdbcType=CHAR},
      </if>
      <if test="record.pictureurl != null" >
        PictureUrl = #{record.pictureurl,jdbcType=CHAR},
      </if>
      <if test="record.describe != null" >
        Describe = #{record.describe,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update logtype
    set Id = #{record.id,jdbcType=INTEGER},
      Name = #{record.name,jdbcType=CHAR},
      Status = #{record.status,jdbcType=INTEGER},
      Sort = #{record.sort,jdbcType=INTEGER},
      Url = #{record.url,jdbcType=CHAR},
      PictureUrl = #{record.pictureurl,jdbcType=CHAR},
      Describe = #{record.describe,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tc.model.Logtype" >
    update logtype
    <set >
      <if test="name != null" >
        Name = #{name,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        Sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        Url = #{url,jdbcType=CHAR},
      </if>
      <if test="pictureurl != null" >
        PictureUrl = #{pictureurl,jdbcType=CHAR},
      </if>
      <if test="describe != null" >
        Describe = #{describe,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tc.model.Logtype" >
    update logtype
    set Name = #{name,jdbcType=CHAR},
      Status = #{status,jdbcType=INTEGER},
      Sort = #{sort,jdbcType=INTEGER},
      Url = #{url,jdbcType=CHAR},
      PictureUrl = #{pictureurl,jdbcType=CHAR},
      Describe = #{describe,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>